.text-animate {
    display: inline-block;
    opacity:10;
    animation: bounceInRight;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    min-width: 10px;
  }
  
  .text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
  
    &:hover {
      animation: rubberBand 1.5s;
      color: #ffdd00;
    }
  }


  
  @for $i from 1 through 42 {
    .text-animate._#{$i} {
      animation-delay: #{$i / 10}s;
    }
  }